@import '../../App.scss';


#logged {
    display: flex;
}

.navbar.navbar-expand-sm.navbar-light.bg-light{
    justify-content:center;
}

.sandwich{
    background-color: $laranja ;
    height: 175px; 
    
    display: flex;
    align-items:top;
    justify-content:space-between;
   
#offcanvasNavbarLabel.offcanvas-title.h5{
    text-align:center;
    padding-top: 16px;
}


.user-login {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 10px;

    .name-user{
        color: $branco;
        font-weight: bolder;
        font-size: 16px;
    }
    p{
        color: $cinza-escuro;
        font-weight: bold;
        margin-top: 6px;
    }
}

.circulo {
    display: flex;
    justify-content: center;
    width: 37px;
	height: 34px;
	border-radius: 50%;
    background-color: white;
	overflow: hidden;
	float: left;
    margin-bottom:3%;
}

}

.link-desktop{
    display: flex;

    .admin{
        cursor:pointer;
        border-right: 3px solid $laranja;
        padding: 6px 15px 6px 0px;
        margin: auto 15px auto 0px;
        font-weight:bold;
    }

    .circulo-desktop{
        display: flex;
        width: 37px;
        height: 34px;
        border-radius: 50%;
        background-color: $cinza-escuro;
        overflow: hidden;
        float: left;
        margin-right: 10px;
        margin-top:9px;

    }

    p{
        color: $branco;
        font-weight: bold;
        margin-top: 6px;
        margin-left:6px;
        justify-content: center;
        align-items:center;
        text-align:center;
    }

    .name-user-desktop{
        color: $cinza-escuro;
        font-weight: bolder;
        font-size: 16px;
    }

    .name-user-desktop p{
        color:$laranja;
        margin:0;
        padding:0;
    }
    
    .logout{
        cursor:pointer;
        height:10.04px;
    }
}


.btn-close{
    color: $branco;
}

.icons{
    display: flex;
    justify-content: flex-end;
}

.offcanvas-body {
    display: flex;
    justify-content: flex-end;
   
}

hr{
    background-color: $cinza-escuro;
    opacity: 1 !important;
    margin-left: 15px;
    margin-right: 15px;

}

.body-logged {
    display: flex;
    align-items: flex-end;



.nav-link {
    color: $cinza-escuro !important;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: -14px;
    font-weight: 600;
    .orange{
        color: $laranja;
    }
    }
}
