@import '../../App.scss';




#map_detail{
    color: $cinza-escuro;

    h2{
        font-weight: bold;
        margin: 30px;
    }
    hr {
        color: $laranja;
        height: 1.5px
    }
    .details-destination{
        height: 50vh;
        display: flex;
        flex-direction: column;
        margin: 30px;
        .map-container{
            border-radius: 5px;
        }
        
        .map-marker{
            margin-top: -30px; 
        }
        .gmnoprint {
            border: 1px solid $laranja;
            border-radius: 5px;
            display: flex;
            justify-content: flex-start;
            
        }

        .gm-fullscreen-control{
            display: none;
        }
        .gm-svpc{
            display: none;
        }
        
        .gm-bundled-control-on-bottom{
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            bottom: 275px !important;
        }



    }
}